@model MyLeasing.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Details</h1>

<h4>Owner</h4>
<div>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.FixedPhone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FixedPhone)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CellPhone)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3 text-right">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ImageUrl)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:200px; height:350px; max-width:100%; height:auto">
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" >Edit</a> 
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
